:root {
    --dark: #16191C;
    --dark-x: #1E2126; 
    --light: #ffffff;
    --primary: #cc0000;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: var(--light);

}

.text-light { color: var(--light) !important; }
.bg-dark { background-color: var(--dark) !important; }
.bg-dark-x { background-color: var(--dark-x); }
.bg-primary {background-color: var(--primary) !important;}

.container{
    position: relative;
    max-width: 800px;
    width: 100%;
    background: var(--dark);
    overflow: hidden;
}

.container .forms{
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;
}

.container.active .login{
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container .signup{
    opacity: 0;
    transition: opacity 0.09s ease;
}
.container.active .signup{
    opacity: 1;
    transition: opacity 0.2s ease;
}

.container.active .forms{
    height: 600px;
}

.container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form-control {
    min-height: 3.125rem;
    line-height: initial;
}
.form-control:focus {
    background-color: var(--dark-x);
    outline: none;
}

.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin: 0 8px -2px 4px;
    accent-color: var(--primary);
}

.btn {
    min-height: 3.125rem;
    font-weight: 600;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--light);
}

.img-1 {
    background-image: url('../img/Login/txt1.jpeg');
    background-size: cover;
    background-position: center;
}

.img-2 {
    background-image: url('../img/Login/txt2.jpg');
    background-size: cover;
    background-position: center;
}

.bg-dark {
     background-color:  var(--dark) !important;
    }
     
.form .login-signup{
    margin-top: 30px;
    text-align: center;
}

.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field i.icon{
    left: 0;
}
.input-field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 10px;
}