:root {
    --primary: #cc0000;
    --dark: #16191C;
    --light: #ffffff;
}
body {
    font-family: 'Poppins', sans-serif;
    color: var(--dark);

}

.text-justify{
    text-align: justify;
}

/* background's */
.bg-primary {
    background-color: var(--primary) !important;
}

.bg-dark {
    background-color:  var(--dark) !important;
}

/* background's */
.py-6 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.navbar {
    min-height: 90px;
}

.navbar .btn {
    padding: .625rem 1.25rem !important;
}

.text-primary {
    color: var(--primary) !important;
}

.btn {
    padding: 1rem;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-dark {
    background-color: var(--dark);
    color: var(--primary);
    border-color: var(--primary);
}

.navbar-brand img{
    width: 350px;
}


.content {
    max-width: 500px;
}

section {
    height: 800px;
}

.step {
    display: flex;
    position: relative;
    justify-content: center;
}

.step::after {
    content: "";
    border-right: 1px solid var(--dark);
    opacity: .2;
    height: 60px;
    position: absolute;
    top: 34px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.call-to-action {
    border-radius: 50px;
}

.call-to-action img {
    max-width: 280px;
}

.cta-form {
    max-width: 480px;
}

.cta-form .form-control {
    min-height: 82px;
}

.cta-form .btn {
    top: 12px;
    right: 12px;
}
 

@media (max-width: 992px) {
    .navbar {
        position: relative !important;
    }
    section {
        height: unset;
    }
    .call-to-action img {
        max-width: 100%;
    }
    .w-75 {
        width: 100% !important;
    }
}

/* Statistics */

.statistics {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    width: 100%;
    margin: 0 0 3em 0;
    padding: 0;
    list-style: none;
    cursor: default;
}

    .statistics li {
        -moz-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        color: #ffffff;
        text-align: center;
    }
        
    @media screen and (max-width: 736px) {

        .statistics {
            display: block;
            width: 20em;
            max-width: 100%;
            margin: 0 auto 2em auto;
        }

            .statistics li:first-child {
                border-bottom-left-radius: 0;
                border-top-right-radius: 8px;
            }

            .statistics li:last-child {
                border-top-right-radius: 0;
                border-bottom-left-radius: 8px;
            }

            .statistics li strong, .statistics li b {
                font-size: 2.5em;
            }

    }
